body{
    background-image: url("https://res.cloudinary.com/threemindsdigitial/image/upload/c_fill,f_auto,h_630,q_90,w_1200/v1/3md/portfolio/praakritik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}