/* Reset some default styles */


body {
    background-image: url("https://d3hnfqimznafg0.cloudfront.net/images/news/ImageForNews_30200_16324922369463198.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
header{
    text-align: center;
}
log{
      
    background-color: red;
    font-size:x-large;
      
}

@media screen and (max-width: 600px) {
    header, nav, section, footer {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    nav ul {
        display: block; /* Make the navigation items stack vertically */
    }

    nav ul li {
        display: block;
        margin: 10px 0; /* Add margin between navigation items */
    }
}
